@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer base {

  /* Component 元件 */
  ul.menu {
    @apply flex items-center text-sm;
  }

  input.search-input {
    @apply w-full bg-white border border-gray-600 p-2 rounded-sm ps-12 font-sans;
  }

  .service-link {
    @apply my-1;
  }

  .service-link > a{
    @apply text-gray-900 hover:text-blue-700;
  }

  .service-section {
    @apply grid grid-cols-1 gap-y-8 justify-items-center mt-6 md:grid-cols-3;
  }

  .service-box {
    @apply rounded-md overflow-hidden w-3/4 border-2 border-gray-200 cursor-pointer max-w-[360px] md:max-w-none;
  }

  /* Position 位置 */
  .y-center {
    @apply top-1/2 -translate-y-1/2;
  }

  /* Heading 標題 */
  h1.page-title {
    @apply text-3xl text-center pb-2 underline underline-offset-8 mt-6 mb-8;
  }
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
